<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      body {
          margin: 0;
          height: 100vh;
          overflow: hidden;
      }
      #left-container, #right-container {
          height: calc(100vh - 80px); /* Adjust height to account for header */
          overflow: auto;
      }
      #divider {
          width: 5px;
          cursor: ew-resize;
          background-color: #ddd;
          height: 100%;
      }
      .modal-backdrop {
            background-color: rgba(0, 0, 0, 0.5);
        }
    </style>
  </head>
  <body>
    <!-- Header -->
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-4">Welcome to Moxprox - Kind of a better Proxmox</span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <button id="show-form-btn" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#createVmModal">
                Créer une VM
            </button>
          </li>
          <li>
            <button id="show-form-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#migrateVmModal">
                Migrer une VM
            </button>
          </li>
        </ul>
    </header>

    <!-- Formulaire création VM-->
    <div class="modal fade" id="createVmModal" tabindex="-1" aria-labelledby="createVmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createVmModalLabel">Créer une VM</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="vm-form">
                <div class="mb-3">
                  <label for="domain-name" class="form-label">Nom de la VM</label>
                  <input type="text" class="form-control" id="domain-name" placeholder="Entrez le nom de la VM" required>
                </div>
                <div class="mb-3">
                    <label for="domain-memory" class="form-label">RAM</label>
                    <input type="number" class="form-control" id="domain-memory" placeholder="Entrez la quantité en MB" required>
                </div>
                <div class="mb-3">
                    <label for="domain-size" class="form-label">Espace disque</label>
                    <input type="number" class="form-control" id="domain-size" placeholder="Entrez la quantité en GB" required>
                </div>
                <div class="mb-3">
                    <label for="domain-vcpus" class="form-label">Nombre de VCPUS</label>
                    <input type="number" class="form-control" id="domain-vcpus" placeholder="Nombre de VCPUS" required>
                </div>
                <div class="mb-3">
                  <label for="node-select" class="form-label">Hyperviseur</label>
                  <select class="form-select" id="node-select" required>
                    {% for node in nodes %}
                    <option value="{{ node.name }}">{{ node.name }}</option>
                    {% endfor %}
                  </select>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" form="vm-form" class="btn btn-success">Créer</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Formulaire migration VM-->
    <div class="modal fade" id="migrateVmModal" tabindex="-1" aria-labelledby="migrateVmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="migrateVmModalLabel">Migrer une VM</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="migrate-form">
                <div class="mb-3" >
                    <label for="node-select" class="form-label">Domaine à migrer</label>
                    <select class="form-select" id="migrate_domain_and_node" required>
                      {% for node in nodes %}
                        {% for domain in domains %}
                            {% if domain.node_id == node.id %}
                      <option value="{{ node.name }}|{{ domain.name }}">{{ domain.name }}</option>
                            {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </select>
                  </div>

                <!-- Ajout des domaines selon le choix de l'hyperviseur source -->

                  <div class="mb-3">
                    <label for="node-select" class="form-label">Hyperviseur destination</label>
                    <select class="form-select" id="migrate_dest_node" required>
                      {% for node in nodes %}
                      <option value="{{ node.name }}">{{ node.name }}</option>
                      {% endfor %}
                    </select>
                  </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" form="migrate-form" class="btn btn-success">Migrer</button>
            </div>
          </div>
        </div>
      </div>

    <div id="loading-popup" style="
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 9999;">
        <div style="background: white; padding: 20px; border-radius: 10px; text-align: center;">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Chargement...</span>
            </div>
            <p style="margin-top: 10px;">Veuillez patienter...</p>
        </div>
    </div>

    <div class="d-flex" style="height: calc(100vh - 80px);">
        <!-- Left Container -->
        <div id="left-container" style="flex: 0 0 30%; background-color: #f8f9fa; padding: 1rem;">
            <h5>DataCenter</h5>
            <ul class="list-unstyled" id="left-pannel">
                {% for node in nodes %}
                <li>

                    <a class="dropdown-item d-flex gap-2 align-items-center" data-bs-toggle="collapse" href="#node-{{ node.name }}" role="button" aria-expanded="false" aria-controls="node-{{ node.name }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                        {{ node.name }}
                    </a>
                    <ul class="collapse list-unstyled ps-5" id='node-{{ node.name }}'>
                        {% for domain in domains %}
                        {% if domain.node_id == node.id %}
                        <li>
                            <a class="dropdown-item" href="#" onclick="loadVM('{{ domain.name }}', 
                                                                              '{{ domain.uuid }}', 
                                                                              '{{ domain.status }}', 
                                                                              '{{ domain.current_ram }}', 
                                                                              '{{ domain.max_ram }}', 
                                                                              '{{ domain.vcpus }}',
                                                                              '{{ domain.vnc_port }}',
                                                                              '{{ node.ip }}',
                                                                              '{{ domain.proxy_port}}',
                                                                              '{{ domain.mac_address}}')">
                            {{ domain.name }} {{ domain.uuid }}
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    
        <!-- Divider (resizable) -->
        <div id="divider" style="width: 5px; cursor: ew-resize; background-color: #ddd;"></div>
    
        <!-- Right Container -->
        <div id="right-container" style="flex: 1; background-color: #fff; padding: 1rem;">
            <h5>Affichage de la VM</h5>
            <div id="vm-content" class="border p-3" style="height: 100%; overflow-y: auto;">
                <p>Sélectionnez une VM pour afficher son contenu.</p>
            </div>
        </div>
    </div>
    <script>
        // Load VM content
        function loadVM(vmName) {
            const vmContent = document.getElementById('vm-content');
            vmContent.innerHTML = `<h6>${vmName} Details</h6><p>Contenu de ${vmName} chargé ici.</p>`;
        }
    </script>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        // Adjust the split layout
        const divider = document.getElementById("divider");
        const leftContainer = document.getElementById("left-container");
        const rightContainer = document.getElementById("right-container");

        let isDragging = false;

        divider.addEventListener("mousedown", (e) => {
            isDragging = true;
            document.body.style.cursor = "ew-resize";
        });

        document.addEventListener("mousemove", (e) => {
            if (!isDragging) return;

            const totalWidth = divider.parentElement.offsetWidth;
            const leftWidth = e.clientX;
            const rightWidth = totalWidth - leftWidth - divider.offsetWidth;

            if (leftWidth > 100 && rightWidth > 100) {
                leftContainer.style.flex = `0 0 ${leftWidth}px`;
                rightContainer.style.flex = `1 1 auto`;
            }
        });

        document.addEventListener("mouseup", () => {
            isDragging = false;
            document.body.style.cursor = "default";

        });

        function loadVM(vmName, vmUUID, status, ramUsed, ramMax, vcpus, vncport, node_ip, domain_proxy_port, macaddress) {
            const vmContent = document.getElementById('vm-content');
            
            // Générer le contenu dynamique pour la VM
            vmContent.innerHTML = `
                <h6 id="vm-name"   >Détails de ${vmName}</h6>
                <div  ><strong>UUID:</strong><div id="vm-uuid">${vmUUID}</div></div></br>
                <p  id="vm-status" ><strong>Status:</strong> ${status}</p>
                <p  id="vm-ramused"><strong>RAM Utilisée:</strong> ${ramUsed/1024} MB / <strong>RAM Maximale:</strong> ${ramMax/1024} MB</p>
                <p  id="vm-vcpus"  ><strong>Nombre de vCPUs:</strong> ${vcpus}</p>
                <p  id="vm-vncport"><strong>VNC Port:</strong> ${vncport}</p>
                <p  id="vm-macaddress"><strong>MAC Address:</strong> ${macaddress}</p>
                
                <div>
                    <button onclick="manageVM('${vmUUID}', 'create_domain')" class="btn btn-success">Démarrer</button>
                    <button onclick="manageVM('${vmUUID}', 'destroy_domain')" class="btn btn-danger">Arrêter</button>
                    <button onclick="manageVM('${vmUUID}', 'restart_domain_unblock')" class="btn btn-warning">Redémarrer</button>
                </div>
                
                <div id="console" class="mt-4">
                    <h6>Console</h6>
                    <iframe id="vnc-console" src="http://${node_ip}:${domain_proxy_port}/vnc.html" style="width: 100%; height: 500px; border: none;"></iframe>
                </div>
            `;
        }
        
        function fetchStatus() {
            fetch('/dashboard/refresh/') 
                .then(response => response.json())
                .then(data => {
                    updateUI(data);
                })
                .catch(error => console.error('Erreur lors de la récupération des données:', error));
        }

        function updateUI(data) {
            migrate_domain_and_node = document.getElementById("migrate_domain_and_node");
            future_migrate = '';

            // Rafraichissement du bandeau de gauche
            data.nodes.forEach(node => {
                current_node = document.getElementById(`node-${node.name}`)
                future_node  = ''
                node.domains.forEach(domain => {
                    future_node += `
                        <li>
                            <a class="dropdown-item" href="#" onclick="loadVM('${domain.name}', 
                                                                              '${domain.uuid}', 
                                                                              '${domain.status}', 
                                                                              '${domain.current_ram}', 
                                                                              '${domain.max_ram}', 
                                                                              '${domain.vcpus}',
                                                                              '${domain.vnc_port}',
                                                                              '${node.ip}',
                                                                              '${domain.proxy_port}',
                                                                              '${domain.mac_address}')">
                            ${domain.name} ${domain.uuid}
                            </a>
                        </li>
                    `;
                      future_migrate += `<option value="${ node.name }|${ domain.name }">${ domain.name }</option>`;
                });
                current_node.innerHTML = future_node;
            });
            migrate_domain_and_node.innerHTML = future_migrate;

            // Rafraichissement de la page de vm
            data.nodes.forEach(node => {
                node.domains.forEach(domain => {
                    const uuid    = document.getElementById('vm-uuid');  
                    if ( uuid != null && uuid.innerText == domain.uuid )
                    {
                        const name       = document.getElementById('vm-name');   
                        const status     = document.getElementById('vm-status'); 
                        const ramused    = document.getElementById('vm-ramused');
                        const vcpus      = document.getElementById('vm-vcpus');  
                        const vncport    = document.getElementById('vm-vncport');
                        const macaddress = document.getElementById('vm-macaddress');
                        const iframevnc = document.getElementById('vnc-console');
                        
                        name   .innerHTML = `<h6 id="vm-name"   >Détails de ${domain.name}</h6>`,
                        status .innerHTML = `<p  id="vm-status" ><strong>Status:</strong> ${domain.status}</p>`,
                        ramused.innerHTML = `<p  id="vm-ramused"><strong>RAM Utilisée:</strong> ${domain.current_ram/1024} MB / <strong>RAM Maximale:</strong> ${domain.max_ram/1024} MB</p>`,
                        vcpus  .innerHTML = `<p  id="vm-vcpus"  ><strong>Nombre de vCPUs:</strong> ${domain.vcpus}</p>`,
                        vncport.innerHTML = `<p  id="vm-vncport"><strong>VNC Port:</strong> ${domain.vnc_port}</p>`
                        macaddress.innerHTML = `<p  id="vm-macaddress"><strong>MAC:</strong> ${domain.mac_address}</p>`
                    
                        if (!(iframevnc.innerHTML.includes(`:${domain.proxy_port}`)))
                        {
                            iframevnc.innerHTML = `<iframe id="vnc-console" src="http://${node.ip}:${domain.proxy_port}/vnc.html" style="width: 100%; height: 500px; border: none;"></iframe>`
                        }
                    } 
                });
            });
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // Fonction pour afficher le popup de chargement
        function showLoadingPopup() {
            document.getElementById("loading-popup").style.display = "flex";
        }

        // Fonction pour masquer le popup de chargement
        function hideLoadingPopup() {
            document.getElementById("loading-popup").style.display = "none";
        }

        function manageVM(uuid_to_act, action) {
            showLoadingPopup(); 
            if (action != 'create_domain' && action != 'restart_domain_unblock' && action != 'destroy_domain')
            {
                alert(`Action invalide:"${action}"`);
            }

            let url = `/dashboard/manage_domain/`;
            const token = getCookie('csrftoken');
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': token
                },
                body: JSON.stringify({ uuid: uuid_to_act, action: action  }),
            })
            .catch(error => {
                console.error(`Erreur lors de l'action "${action}":`, error);
            })
            .finally(() => {
                fetchStatus();
                hideLoadingPopup(); 
            });

        }
        setInterval(fetchStatus, 10000);

        document.getElementById("vm-form").addEventListener("submit", function (event) {
            event.preventDefault(); // Empêche le rechargement de la page
            showLoadingPopup();

            // Récupérer les données du formulaire
            const vmName = document.getElementById("domain-name").value;
            const nodeId = document.getElementById("node-select").value;
            const ramAmount  = document.getElementById("domain-memory").value;
            const sizeAmount = document.getElementById("domain-size").value;
            const vcpus      = document.getElementById("domain-vcpus").value;

            // Envoi des données au serveur
            fetch("/dashboard/create_vm/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": getCookie("csrftoken"), 
                },
                body: JSON.stringify({
                    name        : vmName,
                    node_id     : nodeId,
                    memory      : ramAmount,
                    disk_size   : sizeAmount,
                    vcpus_number: vcpus
                }),
                })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error("Erreur lors de la création de la VM.");
                    }
                })
                .then((data) => {
                    if (data.state == true) alert(data.success);
                    else                    alert(data.error  );
                    const modal = bootstrap.Modal.getInstance(document.getElementById("createVmModal"));
                    modal.hide(); // Fermer le modal après soumission réussie
                })
                .catch((error) => {
                    console.error(error);
                    alert("Erreur : " + error.message);
                }).finally(() => {
                    hideLoadingPopup();
                });
            });

        document.getElementById("migrate-form").addEventListener("submit", function (event) {
            event.preventDefault();


            const domain_and_node = document.getElementById("migrate_domain_and_node").value;
            const dest_node       = document.getElementById("migrate_dest_node"      ).value;
            
            source = domain_and_node.split("|");
            
            const name        = source[1];
            const source_node = source[0];

            if (source_node != dest_node)
            {
                showLoadingPopup();

                fetch("/dashboard/migrate_vm/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    body: JSON.stringify({
                        name       : name       ,
                        source_node: source_node,
                        dest_node  : dest_node
                    }),
                }).then((response) => {
                    if (response.ok) { return response.json(); }
                    throw new Error("Erreur lors de la migration");
                }).then((data) => {
                    if (data.state == true) alert(data.success);
                    else                    alert(data.error  );
                    const modal = bootstrap.Modal.getInstance(document.getElementById("migrateVmModal"));
                    modal.hide();
                }).then((error) => {
                    console.log(error);
                    alert("Erreur" + error.message);
                }).finally(() => {
                    hideLoadingPopup();
                });
            }
            else
            {
                alert(`Hyperviseur source = Hyperviseur destination\n ${source_node} = ${dest_node}`);
            }
            
        });

    </script>
  </body>
</html>
